body{
    margin: 0;
    padding: 0;
    background-color: #7BA2DB;

}

.bar-nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #1E4064 ; 
}

.options{
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 20px;
    margin: 1vw;

    

}

.options:hover{
    color: white;
    /* text-decoration: underline #7BA2DB; */
    border-radius: 5%;
    box-shadow: -2px 4px 6px -2px rgba(123,162,219,0.75);
    border-bottom: 2px solid #7BA2DB ;
}


.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    text-align: center;
}

.song-card{
    display: block;
    
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 400px ;
    height: 500px;
    background-color: #1E4064;
    margin-top:20px ;
    border-radius: 25px;
}
#song-img{
    max-width: 300px;
    height: 300px ;
    margin-top: 40px;
    border-radius: 30px;
}
.song-info-card>h2{
    color: white;
}

.artist-info{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}